@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0;
  color: rgb(31, 31, 31);
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .time {
    border-bottom: 1px solid rgba(255, 255, 255, 0.787);
    width: fit-content;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 0 5px;
    color: rgba(255, 255, 255, 0.787);
  }
  .quotes {
    position: relative;
    font-size: 60px;

    .quotesAddBtn {
      display: none;
      position: absolute;
      width: 150px;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }

    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }
    }
  }
  .newQuotes {
    display: none;

    .newQuotesBtn {
      background-color: transparent;
      border: 1px solid black;
      border-radius: 20px;
      padding: 5px 13px;
    }
  }

  .search {
    .searchTitle {
      //여기에 플로트?
      .searchLogo {
        width: 32px;
        height: 32px;

        animation: spin 10s linear infinite;
      }
    }
  }

  .searchResult {
    display: none;
  }

  .nft {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;
    img {
      width: 100px;
      height: 100px;
    }

    .nftHover {
      position: absolute;
      display: none;
      width: 100px;
      height: 100px;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);

      a {
        color: white;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        margin: -8px;
        border-radius: 100%;
        width: 24px;
        height: 24px;
      }
    }
    &:hover {
      .nftHover {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .nftView {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;
    display: none;
  }
}
