@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0;
  color: rgb(31, 31, 31);
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  border: 1px solid rgba(255, 255, 255, 0.787);
  width: 180px;
  text-align: center;
  font-size: 40px;
  padding: 5px 10px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.787);
}
