@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0;
  color: rgb(31, 31, 31);
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .time {
    border-bottom: 1px solid rgba(255, 255, 255, 0.787);
    width: 250px;
    text-align: left;
    font-size: 40px;
    padding: 5px auto;
    color: rgba(255, 255, 255, 0.787);
  }
  .quotes {
    position: relative;
    font-size: 60px;

    .quotesAddBtn {
      display: none;
      position: absolute;
      width: 150px;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }

    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }
    }
  }
  .newQuotes {
    display: none;

    .newQuotesBtn {
      background-color: transparent;
      border: 1px solid black;
      border-radius: 20px;
      padding: 5px 13px;
    }
  }
}
